*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body{
	background: #7B68EE;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
	color: #000000
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 25px 30px;
	color: #191970;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #B0C4DE;
	transition: all .3s;
}

/*submenu*/

.submenu{
	position: absolute; 
	background: #333333;
	width: 120px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family:'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.biblioteca1{
	background-color: #FFC0CB; 
	margin: 35px;
	padding: 30px;
	width: 425px;
	height: 450px;
	float: left;
}

.biblioteca1 img{
	width: 250px;
	padding:20px;
	margin: 30px;

}

.biblioteca2{
	background-color: #FFA07A;
	margin: 35px;
	padding: 30px;
	width: 425px;
	height: 450px;
	float: left;
}
.biblioteca2 img{
	width: 250px;
	padding:20px;
	margin: 30px;
}

.biblioteca3{
	background-color: #DDA0DD;
	margin: 35px;
	padding: 30px;
	width: 425px;
	height: 450px;
	float: left;
}
.biblioteca3 img {
	width: 250px;
	padding:20px;
	margin: 2px;
}

.biblioteca4{
	background-color: #98FB98;
	margin: 35px;
	padding:30px;
	width: 425px;
	height: 450px;
	float: left;
}
.biblioteca4 img{
	width: 250px;
	padding:20px;
	margin: 10px;
}